* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-size: cover;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    white-space: nowrap; /* Impede quebra de linha */
    overflow: hidden; /* Garante que nada "estoure" a tela */
    text-overflow: ellipsis; /* Exibe "..." se o texto ultrapassar os limites */
    padding: 5px 15px 5px 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    /* Limita a largura do container em telas menores */
    text-align: center;
    /* Para alinhar o conteúdo centralmente */
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 30px;
}

button {
    padding: 10px;
    font-size: 48px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.25s ease-in-out;
}

button:hover {
    opacity: 0.6;
}

#rock {
    background-color: #801effa8;
}

#paper {
    background-color: #da1eff93;
}

#scissors {
    background-color: #ff1ece98;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.your-score {
    letter-spacing: 3px;
    color: black;
}

.machine-score {
    letter-spacing: 3px;
    color: black;
}

.your-score span {
    color: #801effa8;
    font-size: 25px;
}

.machine-score span {
    color: #ff1ebc;
    font-size: 25px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        letter-spacing: 5px;
    }

    button {
        font-size: 36px;
        padding: 8px;
    }

    .buttons {
        gap: 20px;
    }

    p {
        font-size: 18px;
    }

    .your-score span,
    .machine-score span {
        font-size: 20px;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        letter-spacing: 3px;
    }

    button {
        font-size: 28px;
        padding: 6px;
    }

    .buttons {
        flex-direction: column;
        gap: 15px;
    }

    p {
        font-size: 16px;
    }

    .your-score span,
    .machine-score span {
        font-size: 18px;
    }
    .container {
        align-items: center;
        justify-content: center;
    }
}